#The node modules are not mine to replicate
/node_modules/

#Is auto generated and is not necessary
package-lock.json

#This contains the private bot token so this shouldn't be stored
config.json

#Each instance needs it's own config
/config/