#The node modules are not mine to replicate
/node_modules/

#This contains the private bot token so this shouldn't be stored
config.json

#Each instance needs it's own config
/config/

#The temp folder is auto generated
/temp/

#Guilds that should not be responded to.
DisabledGuilds.json